:root {
	--ui-color-orange: #ff5f00;
	--ui-color-orange-text: #fb4f00;
	--brown-solid: #2f2424;
	--gray: #ebe7e2;
	--btn-tertiary-text-color: var(--brown-solid);
	--btn-tertiary-color: var(--gray);
}

.btn {
	cursor: pointer;
	color: #fff;
	border-radius: 3px;
	line-height: 18px;
	transition: all 0.3s ease-out;

	display: inline-block;
	-webkit-appearance: none;
	text-decoration: none;
	text-align: center;
	padding: 13px 15px;
}

.btn.btn-sm {
	font-size: 14px;
	height: 48px;
	line-height: 16px;
	padding: 16px;
}

@media (max-width: 991.98px) {
	.btn.btn-sm {
		padding: 10px 13px;
		height: auto;
	}
}

.btn.btn-primary {
	background: none var(--ui-color-orange);
	border: 1px solid var(--ui-color-orange);
	border-radius: 8px;
	cursor: pointer;
}

@media (max-width: 991.98px) {
	.btn.btn-primary {
		padding: 10px 13px;
		height: auto;
	}
}

.btn.btn-primary:hover {
	border: 1px solid var(--ui-color-orange);
	background: var(--ui-color-orange-text);
}

.btn.btn-primary:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}

.btn.btn-primary:hover {
	background: none var(--ui-color-orange);
}

.btn.btn-tertiary {
	color: var(--btn-tertiary-text-color);
	background-color: #ebe7e2;
	border-radius: 8px;
	border: 1px solid transparent;
}

.btn.btn-tertiary:hover {
	background-color: #d4c4bc;
}
