:root {
	--ui-color-orange: #ff5f00;
	--ui-color-orange-text: #fb4f00;
	--ui-color-pineapple: #fdc92a;
	--brown-solid: #2f2424;
	--gray: #ebe7e2;
	--btn-tertiary-text-color: var(--brown-solid);
	--btn-tertiary-color: var(--gray);
}

input[type="checkbox"].custom-checkbox.question-item__policy-privacy-checkbox {
	position: absolute;
	opacity: 0;
	z-index: -1;

	transition: 0.3s ease-in-out all;
}
input[type="checkbox"].custom-checkbox.question-item__policy-privacy-checkbox:checked
	+ label
	svg
	path {
	stroke-dashoffset: 0;
}

input[type="checkbox"].custom-checkbox.question-item__policy-privacy:hover {
	background-color: var(--ui-color-pineapple);
}
input[type="checkbox"].custom-checkbox.question-item__policy-privacy-checkbox
	+ label {
	display: block;
	border: 2px solid var(--ui-color-orange);
	width: 20px;
	height: 20px;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.1s ease;
	background-color: transparent;
	position: relative;
}

input[type="checkbox"].custom-checkbox.question-item__policy-privacy-checkbox
	+ label
	svg {
	pointer-events: none;
}
input[type="checkbox"].custom-checkbox.question-item__policy-privacy-checkbox
	+ label
	svg
	path {
	fill: none;
	stroke: #414141;
	stroke-width: 4px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 100;
	stroke-dashoffset: 101;
	transition: all 150ms cubic-bezier(1, 0, 0.37, 0.91);
}
input[type="checkbox"].custom-checkbox.question-item__policy-privacy-checkbox
	+ label
	svg {
	transform: translateY(-8px);
}
input[type="checkbox"].custom-checkbox + label span {
	position: absolute;
	transform: translate(35px, -3px);
	color: #000;
	font-size: 15px;
	width: 200px;
}
