:root {
	--ui-color-bark: #512b2b;
}

.custom-radio {
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.custom-radio-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

@media (max-width: 991.98px) {
	.custom-radio-wrapper {
		justify-content: space-between;
	}
}
.custom-radio__item {
	max-width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.custom-radio__text {
	color: var(--ui-color-bark);
	font-size: 20px;
	padding-left: 20px;
}
@media (max-width: 991.98px) {
	.custom-radio__text {
		font-size: 15px;
		padding-left: 10px;
		padding-top: 3px;
	}
}

.custom-radio__input {
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
	margin: 0;
	cursor: pointer;
	color: currentColor;
	width: 28px;
	height: 28px;
	border: 3px solid #ee7023;
	border-radius: 50%;
	transform: translateY(0.05em) scale(0.95);
	display: grid;
	place-content: center;
}

@media (max-width: 991.98px) {
	.custom-radio__input {
		width: 20px;
		height: 20px;
		border: 2px solid #ee7023;
	}
}

.custom-radio__input::before {
	content: "";
	width: 16.8px;
	height: 16.8px;
	border-radius: 50%;
	transform: scale(0);
	transition: 200ms transform ease-in-out;
	background-color: #ee7023;
}

@media (max-width: 991.98px) {
	.custom-radio__input::before {
		width: 12px;
		height: 12px;
	}
}
.custom-radio__input:checked::before {
	transform: scale(1);
}
