:root {
	--ui-color-mist: #ecf9f3;
}

.select {
	background-color: var(--ui-color-mist);
	max-width: 300px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 30px;

	line-height: 18px;
	border-radius: 3px;
	box-sizing: border-box;
	vertical-align: top;
	font-size: 15px;
	padding: 13px 10px 13px 10px;
	margin-top: -11px;
	margin-bottom: -11px;
	min-height: 46px;

	max-height: 46px;

	background-image: url("../../img/select.svg");
	background-position: right -10px center;
	background-origin: content-box;
	background-repeat: no-repeat;
}
