:root {
	--ui-color-bark: #512b2b;
	--ui-color-input-border: #bcd8db;
	--ui-color-error: #b5111a;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	25%,
	75% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
}

.text-area {
	line-height: 18px;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #fff;
	vertical-align: top;
	-webkit-appearance: none;
	font-size: 15px;
	padding: 13px 10px 13px 10px;
	height: auto;
	width: 50%;
	resize: none;
	min-height: 150px;

	border: 1px solid var(--ui-color-input-border);
	color: var(--ui-color-bark);
}

.text-area._no-valid {
	animation: shake 0.5s ease-in-out;
	border: 1px solid var(--ui-color-error);
}
