:root {
	--ui-color-orange: #ff5f00;
	--ui-color-bark: #512b2b;
}

.spoller._init .spoller__title {
	cursor: pointer;
}
.spoller._init .spoller__title {
	cursor: pointer;
}
.spoller__title {
	position: relative;
	width: 100%;
	font-weight: 400;
	font-size: 28px;
	line-height: 120%;
	color: var(--ui-color-bark);
}
@media (max-width: 768px) {
	.spoller__title {
		font-size: 18px;
	}
}
.spoller__title::before,
.spoller__title::after {
	content: "";
	/* Менять размер крестика/плюсика */
	width: 26px;
	height: 2px;
	background-color: var(--ui-color-bark);
	position: absolute;
	right: 1rem;
	top: 1rem;
	transition: 0.3s ease transform;
}
@media (max-width: 768px) {
	.spoller__title::before,
	.spoller__title::after {
		width: 18px;
		height: 1px;
		top: 0.7rem;
	}
}
.spoller__title::after {
	content: "";
	/* Менять размер крестика/плюсика */
	width: 26px;
	height: 2px;
	background-color: var(--ui-color-bark);
	position: absolute;
	right: 1rem;
	top: 1rem;
	transition: 0.3s ease transform;
	transform: rotate(-90deg);
}
@media (max-width: 768px) {
	.spoller__title::after {
		width: 18px;
		height: 1px;
		top: 0.7rem;
	}
}
.spoller__title::after {
	transform: rotate(-90deg);
}
.spoller__title._active::after {
	transform: rotate(0deg);
}
.block__item {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(81, 43, 43, 0.2);
}

.block__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.block__wrapper-controls {
	align-self: flex-end;
}
@media (max-width: 991.98px) {
	.block__wrapper-controls {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
