:root {
	--ui-color-orange: #ff5f00;
	--ui-color-bark: #512b2b;
	--ui-color-error: #b5111a;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: var(--ui-color-bark);
	font-size: 1.4rem;
	font-family: "Roboto-Regular";
	font-weight: 400;
	line-height: 1.5;
	background-color: #ffffff;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent !important;
}

._stop-scroll {
	overflow: hidden;
}

._container {
	padding: 0 30px;
	padding-bottom: 30px;

	max-width: 1200px;
	margin: 0 auto;
}

@media (max-width: 991.98px) {
	._container {
		padding: 30px 15px;
	}
}

.intro {
	margin-bottom: 30px;
	margin-top: 20px;
}

.intro__title {
	text-align: center;
	font-family: var(--ui-color-bark);
}

@media (max-width: 991.98px) {
	.intro__title {
		font-size: 30px;
	}
}

.intro__text {
	font-family: var(--ui-color-bark);
}

@media (max-width: 991.98px) {
	.intro__text {
		font-size: 18px;
	}
}

.question-item {
	padding: 20px 0;
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
}
@media (max-width: 991.98px) {
	.question-item {
		gap: 10px;
		justify-content: space-between;
	}
}
.question-item._start {
	align-items: flex-start;
	width: 100%;
}
@media (max-width: 991.98px) {
	.question-item._start {
		justify-content: space-between;
		gap: 0;
	}
}
@media (max-width: 991.98px) {
	.question-item._select {
		margin-bottom: 35px;
	}
}
@media (max-width: 991.98px) {
	.question-item._radio {
		margin-bottom: 20px;
	}
}

.question-item label {
	font-size: 23px;
}
@media (max-width: 991.98px) {
	.question-item label {
		font-size: 16px;
	}
}

.question-item__tooltip {
	transform: translate(220px, -27px);
}

@media (max-width: 991.98px) {
	.question-item__tooltip {
		transform: translate(-7px, 15px);
	}
}

.question-item__name {
	font-weight: 300;
	font-size: 18px;
	line-height: 120%;
	color: var(--ui-color-bark);
	max-width: 727px;
}

.question-item__name._mob {
	display: none;
}

.question-answer {
	margin-bottom: 4.4rem;
}

.question-answer__title {
	margin-bottom: 4.6rem;
	margin-top: 6.6rem;
}

.question-item__wrapper {
	align-self: flex-start;
}

.no-valid-message {
	position: absolute;
	font-size: 14px;
	color: var(--ui-color-error);

	opacity: 0;

	transition: 0.3s ease-in-out all;
}

.no-valid-message._text-area {
	position: absolute;
	top: 70px;
}

.no-valid-message._checkbox {
	position: relative;
	top: -25px;
}

@media (max-width: 991.98px) {
	.no-valid-message._checkbox {
		position: relative;
		top: 25px;
	}
}

.question-item__policy-privacy-checkbox._no-valid ~ .no-valid-message {
	opacity: 1;
}

.form__elem._no-valid ~ .no-valid-message {
	opacity: 1;
}

.control-items {
	margin-top: 30px;
	margin-bottom: 20px;
}

@media (max-width: 991.98px) {
	.control-items {
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

.control-items__content {
	display: flex;
	gap: 30px;
	justify-content: flex-end;
}

@media (max-width: 991.98px) {
	.control-items__content {
		gap: 20px;
	}
}

.form__submit {
	margin-bottom: 20px;
	margin-top: 10px;
}

.summary {
	margin-top: 70px;
}

@media (max-width: 991.98px) {
	.summary {
		margin-top: 40px;
	}
}

.summary__text {
	font-size: 16px;
	color: #2f2424;
	opacity: 0.7;
}

/* Modal */

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1100;
	overflow-y: hidden;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background: rgba(224, 179, 108, 0.1);
}

.modal._active {
	display: block;
}

.modal__body {
	height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 20px;
}

.modal__content {
	overflow: hidden;
	position: relative;
	padding: 40px 100px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #2f2424;
	border-radius: 1rem;
	overflow: auto;
	max-height: 100%;
}

@media (max-width: 991.98px) {
	.modal__content {
		padding: 20px 20px;
		padding-bottom: 30px;
	}
}

.modal__title {
	color: #fff;
}

@media (max-width: 991.98px) {
	.modal__title {
		font-size: 20px;
	}
}

.summary-table {
	width: 100%;
	margin: 40px auto;
	border-collapse: collapse;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border-radius: 10px;
}

@media (max-width: 991.98px) {
	.summary-table {
		margin: 20px auto;
		margin-bottom: 30px;
	}
}

.summary-table td {
	padding: 20px 30px;
	text-align: center;
}

.summary-table tr {
	display: flex;
	justify-content: space-between;
	word-break: break-all;
	border-radius: 10px;
}

.summary-table tr td:first-child {
	text-align: start;
	width: 40%;
}

@media (max-width: 991.98px) {
	.summary-table tr td:first-child {
		text-align: start;
		width: 40%;
	}
}
.summary-table tr td:last-child {
	width: 60%;
}

@media (max-width: 991.98px) {
	.summary-table td {
		padding: 15px 5px;
		font-size: 16px;
		text-align: start;
		width: 100%;
	}
}

.summary-table th {
	background-color: #f2f2f2;
}

.summary-table tr:nth-child(even) {
	background-color: #f9f9f9;
}
